html {
  height: 100%;
}

body {
  height: 85%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #2148C0;
}

#main-holder {
  width: 30%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #F6F8FB;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #000000;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #101316;
  margin-bottom: 30px;
  border-radius: 20px;
  outline: none;
  padding: 0px 0px 5px 5px;

}

#select {
  width: 100%;
  padding: 8px;
  height: 30%;
  margin-bottom: 30px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
  background: #FFFFFF;
  color: #000;
  border: 1px solid crimson;
  padding: 4px;
  border-radius: 9px;
}

#login-form-submit {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #1C1F22;
  cursor: pointer;
  outline: none;

}

#login-error-msg2 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}